* {
    box-sizing: border-box;
}


html, body {
    margin:0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h6 {
    margin-top: 10px;
}
label {
    margin: 0;
    color: #1c448e;
}

span {
    color: #1c448e;
}

.select-label {
    margin: 0.5em 0.5em 0.5em 0;
}

nav {
    background-color: beige;
    font-size: 1.2rem;
    border-bottom: 1px solid #775144;
}

.brand {
    color: #47abcc !important;
}

.authentication-btn {
    border: 1px solid #47abcc;
    color: #47abcc;
}

.authentication-btn:hover {
    background: #47abcc;
    color: #f5f5dc;
}

.columns {
    height: 90vh;
}

.sidebar-left {
    background-color: beige;
    border-right: 1px solid #5c80bc;
    border-bottom: 1px solid #5c80bc;
}

#tools {
    border-bottom: 1px solid #7e7f9a;
}

#tool-options {
    background-color: beige;
    /* border: 5px solid darkgoldenrod; */
}

.option-input {
    border: 1px solid #5c80bc;
    color: #47abcc;
    padding: 0;
    margin: 0 0 5px 0;
    width: 40px;
}
#text-span {
    margin: 0.5em 0 0 0;
}
#text-input {
    border: 1px solid #1c448e;
    padding: 5px;
    margin: auto;
    color: #1c448e;
}

#text-font-size {
    padding: 0 !important;
    width: 3em;
    margin-left: 0;
}

.commands, .tools {
    margin: 5px 0;
    padding: 5px 15px;
}

.flexitem {
    width: 30%;
    /* height: 40px; */
    padding: 5px 0;
    margin: 5px;
    border: 2px solid #645244;
    border-radius: 5px;
    text-align: center;
}

div[data-tool='triangle'] img {
    width: 15px;
}

.flexitem:hover {
    background-color: #47abcc;
    cursor: pointer;
}

.activetool {
    background-color: #48b8d0;
    border: 2px solid #1c448e;
}

.color-picker {
    width: 100%;
    display: flex;
}

input.color-input {
    display: block;
    width: 70px;
    height: 70px;
    padding: 1px 0;
    border: none;
}

input.color-input:hover {
    transform: scale(1.1);
}

.select-option {
    border: 1px solid #5c80bc;
    width: 8em;
    font-size: small;
    margin: 5px;
    padding: 5px !important;
    color: #47abcc;
}

.select-option:hover {
    color: #f26419;
}

.tool-header {
    color: #1c448e;
}

input[type='range'] {
    overflow: hidden;
    width: 80px;
    -webkit-appearance: none;
    background-color: beige;
    border: 1px solid black;
    border-radius: 5px;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #000;
    margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 20px;
    background: #1c448e;
    box-shadow: -80px 0 0 78px #48b8d0;
    border-radius: 5px;
}

.canvas-container {
    padding: 10px;
}

.elements-container figure {
    cursor: pointer;
}

.elements-container figcaption {
    text-align: center;
}

.elements-container img {
    width: 250px;
    margin: 10px;
    border: 5px solid darkblue;
}

#image-title {
    color: #000;
    font-family: 'menlo';
}

div#login {
    padding: 20px;
}

div#form-error {
    margin: 0 30%;
    text-align: center;
    /* width: 100%; */
    font-size: 1.1rem;
    border-radius: 5px;
    background-color: pink;
    font-style: bold;
    color: red;
}

div#form-success {
    margin: 20px 0;
    padding: 0 30px;
    width: 100%;
    font-size: 1.4rem;
    background-color: lightgreen;
    font-style: bold;
    color: darkgreen;
}

.canvas {
    border: 1px #5c80bc solid;
}

form {
    padding: 5% 5% 0 5%;
}

.form-group {
    margin: 2% 40%;
}

.form-submit-div {
    text-align: center;
}

#form-submit {
    color: #1c448e;
    border: 1px solid #5c80bc;
}