* {
    box-sizing: border-box;
}

html, body {
    margin:0;
}

h6 {
    margin-top: 10px;
}

label {
    margin: 0;
}

nav {
    font-size: 1.3rem;
    border-bottom: 2px solid yellowgreen;
}

.columns {
    height: 90vh;
}

.sidebar-left {
    background-color: beige;
    border: 2px solid black;
}

#tools {
    border-bottom: 5px dashed sandybrown;
}

#tool-options {
    background-color: beige;
    /* border: 5px solid darkgoldenrod; */
}

.stroke-options {
    margin: 5px 0;
}

.commands, .tools {
    margin: 5px 0;
    padding: 5px 15px;
    /* border: 5px dashed darkorange; */
}

.flexitem {
    width: 30%;
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 15%;
    text-align: center;
}

div[data-tool='triangle'] img {
    width: 15px;
}

.flexitem:hover {
    background-color: orange;
    cursor: pointer;
}

.activetool {
    background-color: orange;
}

.color-picker {
    width: 100%;
    display: flex;
}

input.color-input {
    display: block;
    width: 70px;
    height: 70px;
    padding: 1px 0;
    border: none;
}

input.color-input:hover {
    transform: scale(1.1);
}

.canvas-container {
    padding: 10px;
}

.elements-container figure {
    cursor: pointer;
}

.elements-container figcaption {
    text-align: center;
}

.elements-container img {
    width: 250px;
    margin: 10px;
    border: 5px solid darkblue;
}

#image-title {
    color: #000;
    font-family: 'menlo';
}

div#login {
    padding: 20px;
}

div#form-error {
    margin: 20px 0;
    padding: 0 30px;
    width: 100%;
    font-size: 1.4rem;
    background-color: pink;
    font-style: bold;
    color: red;
}

.canvas {
    border: 1px green solid;
}