* {
    box-sizing: border-box;
}

html, body {
    margin:0;
}

.columns {
    height: 90vh;
    border: 2px solid black;
}

.sidebar-left {
    background-color: beige;
}

#tools {
    border-bottom: 5px dashed sandybrown;
}

#tool-options {
    background-color: beige;
    /* border: 5px solid darkgoldenrod; */
}

.stroke-options {
    margin: 10px 0;
}

.commands, .shapes, .tools {
    margin: 5px 0;
    padding: 5px 15px;
    /* border: 5px dashed darkorange; */
}

.flexitem {
    width: 30%;
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 15%;
    text-align: center;
}

div[data-tool='triangle'] img {
    width: 15px;
}

.flexitem:hover {
    background-color: orange;
    cursor: pointer;
}

.activetool {
    background-color: orange;
}

.color-picker {
    width: 100%;
}

input#stroke-color-input {
    display: block;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border: none;
}

input#stroke-color-input:hover {
    transform: scale(1.2);
}

.canvas-container {
    padding: 10px;
}

/* .grid {
    display: grid;
    grid-template-columns: auto;
    padding: 25px;
}

.canvas {
    grid-column: 1;
    grid-row: 1;
} */

.bg {
    border: 1px solid red;
    z-index: 0;
}
.first {
    border: 1px solid green;
    z-index: 1;
}

.selected {
    border: 2px red solid
}